*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-div {
    width: 98%;
    margin: 30px auto;
    text-align: center;
}

/* .header{
    height: 150px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
} */

h1 {
    background-image: url(../images/pattern.jpeg);
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: relative;
    padding: 17.5px 0;
    margin: 70px 0;
}

.section-header {
    height: 35px;
    width: 98%;
    margin: 0 auto;
    
}

#brushes-section-header {
    background-color: mediumspringgreen;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.section-content {
    width: 50%;
    margin: 20px auto;
    text-align: center;

}

img {
    margin-bottom: 30px;
}

h3 {
    font-family: Helvetica, sans-serif;
    margin-bottom: 15px;
}

p {
    font-family: Helvetica, sans-serif;
}

a {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

#frames-section-header {
    background-color: lightcoral;
}

#paint-section-header {
    background-color: skyblue;
}
